.HomeCard-img-wrapper{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeCard-post-date{
    margin-top: .5rem;
    font-size: .8rem;
}

.HomeCard-post-text{
    font-size: 1.2rem;
    margin-top: .8rem;
}

.HomeCard-post-user{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}



