.HomeCard-img-wrapper{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeCard-post-date{
    margin-top: .5rem;
    font-size: .8rem;
}

.HomeCard-user-date-Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .HomeCard-post-user{
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-top: 1rem;
    }
}



