.Login-body{
    padding: 1rem;
}

.Login-form{
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
}

.Login-title{
    margin-bottom: 2rem;
    text-align: center;
}

.Login-btn{
    margin-top: 3rem;
    text-align: center;
}

.Login-register-link{
    text-align: center;
}

.Login-spin{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

