.Profile-body-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: .5rem 0;
    width: 300px;
}

.Profile-user-wrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: .5rem;   
}

.Profile-img{
    background-image: url("../pictures/homePic3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}

.Profile-tab-wrapper{
    display: flex;
    justify-content: center;
}

