.Profile-body-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.Profile-user-contents-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: .5rem 0;
    width: 300px;
}

.Profile-user-wrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: .5rem;   
}

.Profile-img{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

.Profile-tab-wrapper{
    display: flex;
    justify-content: center;
    max-width: 700px;
}

.Profile-btn-wrapper{
    display: flex;
    justify-content: space-around;
    margin: .5rem;
}

.Profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.Profile-header-title{
    margin-right: .5rem;
}

.Profile-favorite-pics-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-favorite-pic{
    width: 200px;
    height: 200px;
    margin: .5rem;   
    border-radius: 10px;
}

.Profile-pic-btn-wrapper{
    position: relative;
}

.Profile-favorite-deleteBtn{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.Profile-favorite-posts{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.Profile-no-favorite-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.EditProfile-body-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.EditProfile-ChangeImg-btn{
    margin: .5rem auto;
}

.EditProfile-ChangeImg-wrapper{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.EditProfile-confirm-btn{
    text-align: center;
}

.Profile-favPost-user{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .Profile-user-contents-wrapper{
        flex-direction: row;
    }

}