.Search-body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.Search-img-wrapper{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 1rem;   
}

.Search-each-img{
    padding: 1rem;   
}

